/*
!/.gitignore
!/alacritty
!/imv
!/swayimg
!/lf
!/mako
!/yt-dlp
!/tig
!/tmux

!/mpv
/mpv/*/
!/mpv/script-opts
!/mpv/scripts
/mpv/scripts/*.so

!/swaylock
!/waybar
!/wayfire.ini
!/wob
!/fontconfig/
!/atuin/
!/waypoint/
!/wl-kbptr/
!/xdg-desktop-portal/

!/wayfire_scripts/

!/wireplumber/
!/pipewire/
